@import url('https://fonts.googleapis.com/css?family=Roboto');
.container {
    background-color: #2D3438;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-size: 3em;
    padding-top: 70px;
    color: white;
    font-weight: bold;
}

.content {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #1d2224;
}

.site {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.st {
    font-size: 1.5em;
}

.inner {
    margin-left: 20px;
    margin-top: 20px;
}

.online {
    color: #2ECC71;
    display: inline;
}

.offline {
    color: #E74C3C;
    display: inline;
}

.clearer {
    height: 20px;
    clear: both;
}

.notice {
    color: white;
    text-align: center;
}

.discord {
    width: 50%;
    margin: 0 auto;
}

.discord iframe {
    margin-top: 50px;
    width: 100%;
    height: 45%;
    !important;
}

@media only screen and (max-device-width: 1400px) {
    .container {
        height: 100%;
        margin: 0;
    }
    .inner {
        width: 100%;
    }
    .content {
        width: 100%;
        text-align: center;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    background-color: #4E5C63;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #4E5C63;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2D3438;
}

.footer {
    width: 100%;
    font-size: 150%;
    color: white;
    height: 5%;
    background-color: #2D3438;
    border-top: 1px black solid;
    margin-top: 1%;
}

.footer a {
    text-decoration: none;
    color: white;
}

.git,
.imp,
.credit {
    width: calc(100%/3);
    float: left;
    text-align: center;
    background-color: #2D3438;
    margin-top: 0.5%;
}
